body{
    background-image:url(..//images/Login\ and\ register\ background.jpg);
    background-repeat: no-repeat;
    /* background-position: center;
    background-attachment: fixed; */
    background-size: cover;
    height: 660px;
  } 
  .heading{
    color: white;
    font-size: 20px;
    margin-left: 35px;
    margin-top: -10px;
  }
  
  label{
    color: white;
  }
  
  form {
      width: 230px;
      height: 215px;
      margin: 0 auto;
      margin-top: 200px;
      padding: 70px;
      padding-right: 90px;
      background-color: rgb(5, 145, 184);
      border-radius: 10px;
      box-shadow: 4px 4px 4px black;
  }
   .sign{
    color: white;
   }
   a{
    color: red;
    text-decoration: none;
    font-weight: bolder;
   }
    input {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    span {
      color: red;
      font-size: 12px;
      display: block;
      text-align: start;
    }
    button {
      padding: 10px;
      background-color:white;
      color: rgb(7, 7, 7);
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
    button:disabled {
      background-color: #ccc;
    }
  
  
  
  